/* color reference 

  #362f2d - dark brown  
  #37b0c9 - blue
  #9facab - dim blue
  #ffff33 - yellow
  #969a13 - green

*/

body {
  color: #9facab;
  font-family: advent-pro, sans-serif;
  background-color: #9facab;
  /*margin-left: 200px;*/ 
}


html { 
  background: url("../images/background-1.jpg") no-repeat fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.logo img{
  margin: 10px 0px 0px 200px;
  padding: 0px;
  position: fixed;
  top: 7px;
  left: 0px;
  z-index: 100;
}

.titleStrip {
  background: white;
  opacity: .92;
  width: 100%;
  height: 100px;
  margin-left: 0px;
  box-shadow: 0px 0px 3px #696969;
  position: fixed;
  left: 0px;
  top: 100px;
  z-index: 12;
}

.titleStrip h1 {
  font-weight: 100;
  font-family: 'Roboto', sans-serif;
  color: #362f2d;
  font-size: 4em;
  margin: 0px 0px 0px 200px;
  padding: 15px 0px 0px 0px;
}

.topNav {
  position: relative;
  z-index: 2;
  top: -125px;
  width: 500px;
  margin-left: auto;
}

.topNav ul{
  list-style: none;
  height: 400px;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15%;
  position: fixed;
  top: 75px;
  left: 50%;
  z-index: 10;
}

.topNav li {
  position: relative;
  top: -15px;
  float: left;
  display: block;
  opacity: .85;
  margin: 1px;
  height: 140px;
  min-width: 6em;
  background-color: #37b0c9;
  /*box-shadow: 7px -7px 0px #37b0c9;*/
  text-align: center;
  font-size: 17px;
}

.topNav li a {
  position: relative;
  top: 3px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  text-decoration: none;
  color: #ffff33;
}

li.active {
  /*background-color: red;*/
}

.contentPanel {
  left: 0px;
  position: absolute;
  background-color: rgba(0, 0, 0, .5);
  opacity: .8;
  width: 100%;
  height: 320px;
  top: 250px;
}

.article {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #ffffff;
  position: inherit;
  left: 200px;
  max-width: 1040px;

}

.article h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  color: #ffff33;
  margin: 0 5px 0 0;
  line-height: 17px;
  float: left;
}

.container {
  display: flex;
}

.item {
  background-color: #969a13;
  width: 100px;
  height: 100px;
  margin: auto;
}

