/* color reference 

  #362f2d - dark brown  
  #37b0c9 - blue
  #9facab - dim blue
  #ffff33 - yellow
  #969a13 - green
  orange: #ff6600

*/

/*
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; 
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; 
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  color: #9facab;
  font-family: advent-pro, sans-serif;
  background-color: #9facab;
  /*margin-left: 200px;*/ 
}

.hero {
  width: 100%;
  background-image: url(../images/heroImage_1-2.jpg);
  background-size: auto 100%;
  background-position: center top;
  background-repeat: no-repeat;
}

.heroImage {
  width: 1440px;
  margin: 0 auto;
  /*z-index: 1;
  position: absolute;
  margin: 0px;
  padding: 0px;
  left: 0;
  top: 0;*/
}

.heroImage img {
  z-index: 1;
  width: 100%;
  /*position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;*/
  /*margin: 0px;
  padding: 0px;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;*/
}


.mainHeader {
  position: absolute;
  top: 100px;
}

.logo img{
  margin: 10px 0px 0px 200px;
  padding: 0px;
  position: absolute;
  top: 7px;
  left: 0px;
  z-index: 9;
}

.titleStrip {
  background: white;
  opacity: .92;
  width: 100%;
  height: 100px;
  margin-left: 0px;
  box-shadow: 0px 0px 3px #696969;
  position: absolute;
  left: 0px;
  top: 100px;
  z-index: 12;
}

.titleStrip h1 {
  font-weight: 100;
  font-family: 'Roboto', sans-serif;
  color: #362f2d;
  font-size: 4em;
  margin: 0px 0px 0px 200px;
  padding: 15px 0px 0px 0px;
}

.topNav {    
  position: absolute;
  z-index: 11;
  width: 500px;
  left: 50%;
  top: 70px;
}

.topNav ul{
  list-style: none;
  height: 400px;
  width: 1000px;
  position: absolute;
}

.topNav li {
  position: relative;
  float: left;
  display: block;
  opacity: .85;
  margin: 1px;
  height: 140px;
  min-width: 6em;
  background-color: #37b0c9;
  text-align: center;
  font-size: 17px;
  padding: 0 .5em;
}

.topNav li a {
  position: relative;
  top: 3px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  text-decoration: none;
  color: #ffff33;
}

li.active {
  /*background-color: red;*/
}

.contentPanel {
  left: 0px;
  position: absolute;
  background-color: rgba(0, 0, 0, .5);
  opacity: .8;
  width: 100%;
  height: 320px;
  top: 250px;
  z-index: 10;
}

.article {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #ffffff;
  position: inherit;
  left: 200px;
  top: 1em;
  max-width: 1040px;
  margin-right: 200px;

}

.article h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  color: #ffff33;
  margin: 0 5px 0 0;
  line-height: 17px;
  float: left;
}

.container {
  position: absolute;
  top: 730px;
  width: 100%;
  height: 800px;
  /*border-style: solid;
  border-width: 1px;
  border-color: red;*/
}

.flexboxContainer {
  margin-top: 80px;
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  align-items: stretch;
  -webkit-align-items: stretch;
  justify-content: center;
  -webkit-justify-content: center;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap; }

/*.row {
  display: flex;
}*/

.item {
  /*background-color: rgba(0, 0, 0, .5);*/
  /*background-color: black;*/
  border-style: solid;
  border-radius: 50%;
  border-width: 1px;
  border-color: #ff6600;
  width: 300px;
  height: 300px;
  /*margin: 8% 8% 0 8%;*/
  margin-left: 4%;
  margin-right: 4%;
  margin-bottom: 80px;
  text-align: center;
  box-shadow: 0px 0px 5px #000000;
}

#item_studentWork {
  /*background-image: url("../images/15-1.png");*/
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
                rgba(0,0,0,0.55) url('../images/15-1.png') no-repeat center;
}

.item img {
  /*position: absolute;*/
  clip-path: circle(149px at center);
  z-index: 19;
  opacity: .5;
}

.itemTitle {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 2em;
  /*position: absolute;*/
  color: #ffff33;
  z-index: 21;
  margin: 0 auto;
  padding-top: 125px;
}

.mainFooter {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 1em;
  color: black;
  position: absolute;
  /*margin-top: auto;*/
  flex: 1;
  right: 0;
  /*bottom: 0;*/
  left: 0;
  padding: 1rem;
  background-color: rgba(0, 0, 0, .2);
  text-align: center;
  width: 100%;
  z-index: 100;
}

.mainFooter h3 {
  color: #ffff33;
}

.mainFooter .mainFooterLogo img{
  float: left;
}

